.link {
    text-decoration: none;
}

.header {
    position: sticky;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #008080;
}

.logo {
    font-size: 2rem;
    color: white;
    padding: 0 48px; /* TODO: make responsive */
}