.container {
    padding: 0 48px 64px 48px;
}

.form {
    padding-top: 16px;
    display: flex;
    align-items: center;
}

.text {
    white-space: nowrap;
    margin: 8px 0;
}

.inputContainer {
    padding: 0 32px 0 0;
    min-width: 120px;
}

.paper {
    max-width: 750px;
    margin-top: 32px;
    padding-top: 16px;
}
