.container {
    padding: 24px 48px;
}

.form {
    display: flex;
    align-items: center;
}

.slider {
    padding: 28px 32px 0 32px;
    width: 240px;
    min-width: 200px;
}

.text {
    white-space: nowrap;
    margin: 8px 0;
}
