.controls {
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    list-style: none;
    margin: 0;
    padding: 5%;
    padding-top: 2%;
}